variable "ami_bastion" {
  description = "Optimized ECS AMI for bastion, us-east-1"
  default     = "ami-07eb698ce660402d2"
}

variable "subnet_bastion" {
  description = "Public Subnet for the Bastion ec2"
}
