vpc_id: "{{ outs_aws_networking.outputs.vpc_id.value }}"
vpc_private_subnets_ids: ["{{ outs_aws_networking.outputs.private_subnets.value | list | join("\", \"") }}"]
vpc_public_subnets_ids: ["{{ outs_aws_networking.outputs.public_subnets.value | list | join("\", \"") }}"]
